{% if searchresults %}
<div class="row">
    <div class="row">
        <div class="col">
          <form action="/{{ oneitem['routename']}}" method="get">
            <input type="image" img src="static/img/{{ oneitem['imgname'] }}" width="500" class="p-5" alt="{{ oneitem['name'] }}">
          </form>
        </div>
        <div class="col">
            <div class="jumbotron bg-white">
            <h1 class="display-4">{{ oneitem['name'] }}</h1>
            <p class="lead">{{ oneitem['description'] }}</p>
            <p> ${{ oneitem['price'] }}USD</p>
            <hr class="my-4">
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="jumbotron bg-white">
        <h1 class="display-4">Sorry. Your search yielded no results.</h1>
    </div>
</div>
{%endif%}